<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Header</title>
  <meta name="description" content="Header">
  <meta name="xyz" content="xyz">

  <link rel="stylesheet" href="./header.component.scss">
</head>

<body>
  <div class="container">
    
    <img src="../../../assets/images/tiddlywinks-logo.png" alt="tiddlywinks-logo" class="logo">


   </div>


   <!-- <div class="imgcontainer">
    <img src="../../../assets/images/banner-873111_1920.jpg" alt="children drawing" style="width:100%;">
    <div class="text-block">
      <h4>About us</h4>
      <p class="bold_p">
        Tiddlywinks Day Nursery was founded in 1994 by husband & wife David and Imelda Mihell. The vision started at our Hill Lane nursery in the same year following the conversion of a previous farmhouse where the family had lived. Imelda oversaw the day to day running of the nursery as manager creating a nursery full of character and charm which the children and families viewed as a home from home. Tiddlywinks soon became a family run business after sons Ashley and Ben joined in 2007, after years of guidance from their parents alongside completing their studies at university. </p> 
        <p>Our company ethos is to offer families a high quality, flexible, child centred service where parents can be confident in the care and education their child will receive with us. We aim to make each child’s time with us a happy, fun filled and exciting journey in which we work in close partnership with parents and carers sharing each milestone.</p>
    </div>
  </div> -->
</body>
</html>