<div style="width: 400px; margin: 0;">
  <div class="submit-form">
  
    <div *ngIf="!submitted">
    <h2>Log in here</h2>
    
    <div class="form-group" >
      <label for="username">Username: </label>
      <input type = 'text' [(ngModel)] = 'username' class="form-control">
      </div>
    
    <div class="form-group">
      <label for="password">Password: </label>
    <input type = 'password' [(ngModel)] = 'password' class="form-control">
    
    </div>
    
    <button (click)='login()' >Login</button>
    
  </div>


    <div *ngIf="submitted">
      <h3>Logged in as {{loggedInAs.adult_first_name}}</h3>
  <p>Registered children:  </p>
  <p>First Name: {{loggedInAs.child_first_name}}</p>
  <p>Surname: {{loggedInAs.child_last_name}}</p>
    </div>
    
    
   
</div>
  </div>


