<div >
  <div class="submit-form">
  
    <div *ngIf="!submitted">
    <h2>Log in here</h2>
    <div class="form-group" >
      <label for="username">Username: </label>
      <input type = 'text' [(ngModel)] = 'username' class="form-control">
      </div>
    <div class="form-group">
      <label for="password">Password: </label>
    <input type = 'password' [(ngModel)] = 'password' class="form-control">
    </div>
    
    

      <button (click)='login()' *ngIf="!buttonClicked">Login</button>

    </div>

    <div *ngIf="submitted">
      <div class="submit-form">
       <h3>Logged in as {{loggedInAs.adult_first_name}}</h3>
     

        <button (click)='logout()'>Log out</button>
      
       
     </div>
    </div> 
      
  </div>

<br>

  <div class="imgcontainer">
  <img src="../../../assets/images/frame-1796294_1920.jpg" alt="children drawing" style="width:100%;">
  <div class="centered" >
    <h4 >About us</h4>
    <p > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla ullamcorper semper. Duis eu mi semper, imperdiet sem quis, dignissim eros. Donec mattis sed tellus nec malesuada. Nulla at mollis neque, molestie consectetur nibh. Nullam faucibus elit eget tortor iaculis eleifend nec eget nulla. Aliquam dapibus odio vel porta pulvinar. Mauris vitae est in dolor gravida gravida. Morbi quis arcu sed orci dapibus congue a quis quam. Praesent id ex diam. </p>
    <p > Phasellus at mauris gravida, pulvinar ex ut, hendrerit turpis. Integer laoreet, lorem non lobortis laoreet, sem tortor ullamcorper est, eget bibendum dolor ligula vel massa. Proin vel tellus imperdiet.</p>
  </div>
  </div>

</div>





