<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
   

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Register new user</a>
      </li>
    </div>
  </nav>




   
  <section class="container">
    <router-outlet></router-outlet>
  </section>
  <app-footer class="mt-auto"></app-footer>




</div>






