<!-- <header>

<div class="container">
  <!-- <img src="../assets/images/tiddlywinks-logo.png"   width="100"
  alt="Tiddlywinks Logo"> -->

<!-- <a href="#" class="logo">Tiddlywinks Day Nursery</a>
<nav>
  <ul>
    <li><a href="#" routerLink="/">Home</a> </li>
    <li><a href="#" routerLink="/about">About us</a> </li>
    <li><a href="#" routerLink="/careers">Careers</a> </li>
    <li><a href="#" routerLink="/register">Register</a> </li>
    
  </ul>
</nav>
</div>
</header> --> 

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a href="#" class="navbar-brand">Home</a> -->

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Register new user</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Tiddlywinks Nursery 2020 All rights reserved
    <a href="https://www.tiddlywinksnursery.com/"> tiddlywinksnursery.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
