
<p>user list component</p>

<div style="width: 400px; margin: 0;">
<h2>Log in here</h2>

<div class="form-group">
  <label for="username">Username: </label>
  <input type = 'text' [(ngModel)] = 'username' class="form-control">
  </div>

<div class="form-group">
  <label for="password">Password: </label>
<input type = 'password' [(ngModel)] = 'password' class="form-control">

</div>

<button (click)='login()' >Login</button>



<!-- <ul class="users">
  <li *ngFor="let user of users"
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.adult_first_name}} 
  </li>
</ul> -->
</div>



<div *ngIf="currentUsers">
  <h2>{{currentUsers.name | uppercase}} Details</h2>
  <div><span>id: </span>{{currentUsers.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="currentUsers.adult_first_name" placeholder="adult_first_name"/>
    </label>
  </div>
</div>


<!-- 
<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by username"
          [(ngModel)]="users"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchAll()"
          >
            Show All Users
          </button>
        </div>
      </div>
    </div>


    <div>



    </div>


    <div class="col-md-6">
      <h4>Names List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let d of data; 
          let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)">
          {{ d.username }}
        </li>
      </ul>
      <mat-nav-list>
        <a mat-list-item href="..." *ngFor="let link of links"> {{ d }} </a>
     </mat-nav-list>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
        Remove All
      </button>
    </div>



    <div class="col-md-6">
      <div *ngIf="currentUsers">
        <h4>User</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentUsers.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentUsers.childName }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentUsers.published ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/users/{{ currentUsers.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentUsers">
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>



  </div> -->