<h2>Register your child here</h2>

<div class="form-group">
    <label for="name">Name of parent</label>
    <input type="text" class="form-control" id="nameAdult"
           required
           [(ngModel)]="model.nameAdult" name="nameAdult">
          <br>  

    <label for="name">Name of child</label>
    <input type="text" class="form-control" id="nameChild"
            required
            [(ngModel)]="model.nameChild" name="nameChild"><br>
   
        <label for="age">Age of child</label>
        <select class="form-control" id="age" required>
          <option *ngFor="let age of ageOfChild" [value]="age">{{age}}</option>
        </select><br>
      
  
      <label for="contactHome">Contact Number Home</label>
    <input type="text" class="form-control" id="contactHome"
            required
            [(ngModel)]="model.contactNumberHome" name="contactHome"><br>
  

            <label for="contactMob">Contact Number Home</label>
          <input type="text" class="form-control" id="contactMob"
                  required
                  [(ngModel)]="model.contactNumberMobile" name="contactMobile"><br>
              </div>